

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*Apartado del registro del sitio web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-reg{
    background-image: url('../img/registro/reg.jpg');
    background-size: 100%;
}
.contregistro{
    height: 75%;
    width: 60%;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
.foto{
    width: 50%;
    height: 100%;
}
.foto img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.usuario-form{
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.usuario-form h1{
    color: black;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.usuario-form p{
    color: black;
    padding: 7px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.usuario-form i{
    position: absolute;
    padding: 20px 10px;
}
input{
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 0 30px;
    box-shadow: 1px 2px 5px #999;
    outline: none;
}
.accion_btn{
    width: 100%;
    display: flex;
    margin: 30px 0;
    margin-top: 30px;
}
.btn_crear{
    border: none;
    background: #ff896cf6;
    color: #444444;
    padding: 5px;
    border-radius: 20px;
    width: 40%;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 1px 2px 5px #999;
    outline: none;
}
.usuario-form h6{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.usuario-form h6 a{
    color: #ff896cf6;
}
#usuario{
    background-image: url('../img/registro/usuario.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#tel{
    background-image: url('../img/registro/telefono.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#correo{
    background-image: url('../img/registro/correo.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#contra{
    background-image: url('../img/registro/contra.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}

/*Apartado de login del sitio web*/
.body-log{
    background-image: url('../img/login/login.jpg');
    background-size: 100%;
}
.contlogin{
    height: 75%;
    width: 60%;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
.foto-log{
    width: 50%;
    height: 100%;
}
.foto-log img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.usuario-form-log{
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.usuario-form-log h1{
    color: black;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.usuario-form-log p{
    color: black;
    padding: 7px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.usuario-form-log i{
    position: absolute;
    padding: 20px 10px;
}
.usuario-form-log input{
    margin-bottom: 20px;
}
.usuario-form-log h6{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.usuario-form-log h6 a{
    color: #ff896cf6;
}
.accion_btn_log{
    width: 100%;
    display: flex;
    margin: 30px 0;
    margin-top: 20px;
    margin-bottom: 40px;
}
.btn_login-log{
    border: none;
    background: #ff896cf6;
    color: #444444;
    padding: 5px;
    border-radius: 20px;
    width: 40%;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 1px 2px 5px #999;
    outline: none;
}

#correo-log{
    background-image: url('../img/registro/correo.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#contra-log{
    background-image: url('../img/registro/contra.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
/*Apartado de acerca de nosotros del sitio web*/

.container-img{
    background: url('../img/about/fondoabout.png');
    height: 220px;
}
.titulo{
    color: white;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
    padding: 50px;
    text-shadow: 0.1em 0.1em 0.05em black
}
.cont-info{
    height: 28%;
    width: 60%;
    position: absolute;
    background-color: white;
    top: 33%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
.foto-about{
    width: 50%;
    height: 100%;
}
.cont-info img{
    background: url("../img/about/fondo2.png");
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.cont-info img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.form-about{
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.form-about{
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.form-about{
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.form-about p{
    color: black;
    padding: 0px 0;
    font-size: 17 px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.info-team h1{
    margin-top: 650px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}
.info-team p{
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}
.column1{
    width: 20%;
    float: left;
    padding: 0px 10px;
    margin-left: 270px;
}
.column{
    width: 20%;
    float: left;
    padding: 0px 10px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.card{
    box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
    max-width: 280px;
    margin: 10px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 15px;
}
.name{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 25px;
}
.title{
    color: rgb(83, 83, 83);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}
.subtitle{
    color: gray;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.imagen-perfil{
    margin-top: 20px;
    width:150px;
    height:150px;
    border-radius: 180px;
}
.iconos{
    height: 25px;
    margin-right: 10px;
}


/*Product detail*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
section{
  padding: 40px;
}
.read{
  color: #0b67df;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
 

}

.description{
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
 
  
}
.detail_product{
  color: #FF7300;
}
.product-detail .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
  }
  
  .product-detail .left {
    display: flex;
    flex-direction: column;
  }
  
  .product-detail .left .main {
    text-align: center;
  
    
  }
  
  .product-detail .left .main img {
    object-fit: contain;
    height: 100%;
    width: 300px;
  }
  
  .product-detail .thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .product-detail .thumbnail {
    width: 10rem;
    height: 10rem;
    background-color: #f6f2f1;
    text-align: center;
  }
  
  .product-detail .thumbnail img {
    height: 100%;
    object-fit: contain;
  }
  
  
  
  .product-detail .right span {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  label{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #E71247;
  
  }
  
  .author{
    font-family: 'Roboto', sans-serif;
    color: #E71247;
    font-style: italic;
    
    
  }
  

  
  
  .product-detail .right h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #E71247;
    font-size: 40px;
  }
  
  .product-detail .right .price {
    font-size: 600;
    font-size: 2rem;
    color: #ff7c9c;
    margin-bottom: 2rem;
  }
  
  .product-detail .right div {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .product-detail .right select {
    font-family: "Poppins", sans-serif;
    width: 20rem;
    padding: 0.7rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
  }
  
  .product-detail form {
    margin-bottom: 2rem;
  }
  
  .product-detail form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  
  .product-detail .form {
    margin-bottom: 3rem;
  }
  
  .product-detail .form input {
    padding: 0.8rem;
    text-align: center;
    width: 3.5rem;
    margin-right: 2rem;
  }
  
  .product-detail .form .addCart {
    background: #ff7c9c;
    padding: 0.8rem 4rem;
    color: #fff;
    border-radius: 3rem;
  }
  
  .product-detail h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  
  @media only screen and (max-width: 996px) {
    .product-detail .left {
      width: 30rem;
      height: 45rem;
    }
  
    .product-detail .details {
      gap: 3rem;
    }
  
    .product-detail .thumbnails {
      width: 30rem;
      gap: 0.5rem;
    }
  
    .product-detail .thumbnail {
      width: auto;
      height: 10rem;
      background-color: #f6f2f1;
      text-align: center;
      padding: 0.5rem;
    }
  }
  
  @media only screen and (max-width: 650px) {
    .product-detail .details {
      grid-template-columns: 1fr;
    }
  
    .product-detail .right {
      margin-top: 10rem;
    }
  
    .product-detail .left {
      width: 100%;
      height: 45rem;
    }
  
    .product-detail .details {
      gap: 3rem;
    }
  
    .product-detail .thumbnails {
      width: 100%;
      gap: 0.5rem;
    }
  }
  
  .ratings{
    display: inline-block;
    text-align: center;
    line-height: 26px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s;
    color: #fcba26;
  }
  

#more {display: none;}

.readMore{
    cursor: context-menu;
    color: blue;
}