/*Apartado del registro del sitio web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-reg{
    background-image: url('../img/registro/reg.jpg');
    background-size: 100%;
}
.contregistro{
    height: 75%;
    width: 60%;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
.foto{
    width: 50%;
    height: 100%;
}
.foto img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.usuario-form{
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.usuario-form h1{
    color: black;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.usuario-form p{
    color: black;
    padding: 7px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.usuario-form i{
    position: absolute;
    padding: 20px 10px;
}
input{
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 0 30px;
    box-shadow: 1px 2px 5px #999;
    outline: none;
}
.accion_btn{
    width: 100%;
    display: flex;
    margin: 30px 0;
    margin-top: 30px;
}
.btn_crear{
    border: none;
    background: #ff896cf6;
    color: #444444;
    padding: 5px;
    border-radius: 20px;
    width: 40%;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 1px 2px 5px #999;
    outline: none;
}
.usuario-form h6{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.usuario-form h6 a{
    color: #ff896cf6;
}
#usuario{
    background-image: url('../img/registro/usuario.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#tel{
    background-image: url('../img/registro/telefono.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#correo{
    background-image: url('../img/registro/correo.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#contra{
    background-image: url('../img/registro/contra.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}

/*Apartado de login del sitio web*/
.body-log{
    background-image: url('../img/login/login.jpg');
    background-size: 100%;
}
.contlogin{
    height: 75%;
    width: 60%;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
.foto-log{
    width: 50%;
    height: 100%;
}
.foto-log img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.usuario-form-log{
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.usuario-form-log h1{
    color: black;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.usuario-form-log p{
    color: black;
    padding: 7px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.usuario-form-log i{
    position: absolute;
    padding: 20px 10px;
}
.usuario-form-log input{
    margin-bottom: 20px;
}
.usuario-form-log h6{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.usuario-form-log h6 a{
    color: #ff896cf6;
}
.accion_btn_log{
    width: 100%;
    display: flex;
    margin: 30px 0;
    margin-top: 20px;
    margin-bottom: 40px;
}
.btn_login-log{
    border: none;
    background: #ff896cf6;
    color: #444444;
    padding: 5px;
    border-radius: 20px;
    width: 40%;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 1px 2px 5px #999;
    outline: none;
}

#correo-log{
    background-image: url('../img/registro/correo.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#contra-log{
    background-image: url('../img/registro/contra.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}