
/*Apartado del registro del sitio web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-reg{
    background-image: url('../img/registro/reg.jpg');
    background-size: 100%;
}
.contregistro{
    height: 75%;
    width: 60%;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
.foto{
    width: 50%;
    height: 100%;
}
.foto img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.usuario-form{
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.usuario-form h1{
    color: black;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.usuario-form p{
    color: black;
    padding: 7px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.usuario-form i{
    position: absolute;
    padding: 20px 10px;
}
input{
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 0 30px;
    box-shadow: 1px 2px 5px #999;
    outline: none;
}
.accion_btn{
    width: 100%;
    display: flex;
    margin: 30px 0;
    margin-top: 30px;
}
.btn_crear{
    border: none;
    background: #ff896cf6;
    color: #444444;
    padding: 5px;
    border-radius: 20px;
    width: 40%;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 1px 2px 5px #999;
    outline: none;
}
.usuario-form h6{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.usuario-form h6 a{
    color: #ff896cf6;
}
#usuario{
    background-image: url('../img/registro/usuario.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#tel{
    background-image: url('../img/registro/telefono.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#correo{
    background-image: url('../img/registro/correo.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#contra{
    background-image: url('../img/registro/contra.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}

/*Apartado de login del sitio web*/
.body-log{
    background-image: url('../img/login/login.jpg');
    background-size: 100%;
}
.contlogin{
    height: 75%;
    width: 60%;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
.foto-log{
    width: 50%;
    height: 100%;
}
.foto-log img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.usuario-form-log{
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.usuario-form-log h1{
    color: black;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.usuario-form-log p{
    color: black;
    padding: 7px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.usuario-form-log i{
    position: absolute;
    padding: 20px 10px;
}
.usuario-form-log input{
    margin-bottom: 20px;
}
.usuario-form-log h6{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.usuario-form-log h6 a{
    color: #ff896cf6;
}
.accion_btn_log{
    width: 100%;
    display: flex;
    margin: 30px 0;
    margin-top: 20px;
    margin-bottom: 40px;
}
.btn_login-log{
    border: none;
    background: #ff896cf6;
    color: #444444;
    padding: 5px;
    border-radius: 20px;
    width: 40%;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 1px 2px 5px #999;
    outline: none;
}

#correo-log{
    background-image: url('../img/registro/correo.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}
#contra-log{
    background-image: url('../img/registro/contra.png');
    background-position: 9px;
    background-size: 13px;
    background-repeat: no-repeat;   
}

/*Apartado de acerca de nosotros del sitio web*/
.body-about{
    background-image: url('../img/about/fondo.png');
    height: 100%;
    width: 100%;
}
.portada{
    background: url('../img/about/fondoabout.png');
    height: 280px;
}
.titulo{
    color: white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 100px 0;
    text-shadow: 0.1em 0.1em 0.05em black
}
.cont-info{
    margin-top: 230px;
    height: 67%;
    width: 55%;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.foto-about{
    width: 50%;
    height: 100%;
}
.foto-about img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.form-about{
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.form-about p{
    color: black;
    padding: 0px 0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.form-about h1{
    color: black;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.info-team h1{
    margin-top: 580px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}
.info-team p{
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}
.column1{
    width: 20%;
    float: left;
    padding: 0px 10px;
    margin-left: 270px;
}
.column{
    width: 20%;
    float: left;
    padding: 0px 10px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.card{
    box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
    max-width: 280px;
    margin: 10px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 15px;
}
.name{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 25px;
}
.title{
    color: rgb(83, 83, 83);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}
.subtitle{
    color: gray;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.imagen-perfil{
    margin-top: 20px;
    width:150px;
    height:150px;
    border-radius: 180px;
}
.iconos{
    height: 25px;
    margin-right: 10px;
}